body {
  font-size: 40px;
  background-color: #000;
  color: #ffe4c4;
}

.button-class {
  margin-left: 5%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-class:hover {
  background-color: red;
}

.nav-button:hover {
  background-color: red;
}

.pokemon-list {
  list-style-type: none;
}

.modal-title{
  color:#007bbf;
}

.modal-content{
  text-align: center;
  color:#007bbf;
}

.modal-close:hover,
.modal-close.class:focus,
.modal-close:active {
  cursor: pointer;
  background-color: red;
  color: white
}

#place-holder {
  width: 100%;
  height: 80px;
}

.navbar-brand {
  font-size: 40px;
}

.nav-link {
  font-size: 40px;
  background-color: #007bbf;
  border-radius: 0.25rem;
}

.list-group-item {
  background-color: #000;
}

.nav-image {
  width: 70px;
  height: 70px;
}